/* .formContainer { */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
/* } */

.textInput {
  padding: 8px 12px;
  margin: 0 5px;
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #4A4F64;    
}

/* .textInput:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
  border-radius: 4px; 
} */

.submitButton {
  padding: 8px;
  border: 1px solid #4CAF50;
  border-radius: 4px; 
  font-size: 14px;
  color: white;
  background-color: #4CAF50;
}

/* .submitButton:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
  border-radius: 4px; 
} */